*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  /* max-height: 1000vh; */
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  flex-direction: column;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
  /* min-width: 500px;
  max-width: 1000px; */
  min-width: 20%;
  max-width: 80%;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}
.container header{
  display: flex;
  flex-direction: column;
}
.alertMsg {
  transition: all 0.3s ease;
  transform: scale(0.9);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: transform 0.5s linear forwards;
}

.alertMsg.show {
display: block;
transform: scale(1);
}

.alertMsg.hide {
display: none;
}


i {
  transform: scale(.9);
  transition: transform .8s ease-in-out;
  cursor: pointer;
}
i:hover{
  transform: scale(1);
}

.todo-filter{
  display: flex;
  justify-content: space-between;
}
.container .inputSection{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  @media screen and (max-width: 999.5px) {
    flex-direction: column;
  }
  width: 100%;
  height: 100%;
}
.inputSection input{
  max-width: 100%;
  margin-right: 10px;
}
.theme-switcher {
  position: absolute;
  top: 0;
  right: 15px;
  top: 10px;
}
.theme-switcher .theme-item {
  cursor: pointer;
}

tbody .hide{
  display: none;
}

.bx-trash{
  color: red;
}
.bx-edit-alt{
  color: blue;
}

table tr:nth-child(even){
  background-color: #e0dcdc;
  color: black;
}